body{
	margin-top: 5%;
	background: white;
	font-family: 'Roboto', sans-serif;
	}

h1,h2,h3{
	color:#242424;
}



a.exlink:visited{
	color: #242424;
}

a:link{
	color: #242424;
	text-decoration: none;
}

a:hover{
	background: black;
	color: rgb(124, 124, 124);
}

a:visited{
	color: rgb(124, 124, 124);
	text-decoration: none;
}

a.blogpost:visited{
	color: #242424;
	text-decoration: none;
}



