body{
	background: #d4d4d4;
	font-family: 'Roboto', sans-serif;
	padding-left: 5%;
	margin: 5%;
}

h1,h2,h3{
	color:#242424;
}



a.exlink:visited{
	color: #242424;
}

a:link{
	color: #242424;
	text-decoration: none;
}

a:hover{
	background: black;
	color: rgb(253, 79, 10);
}

a:visited{
	color: rgb(253, 79, 10);
	text-decoration: none;
}

a.blogpost:visited{
	color: #242424;
	text-decoration: none;
}


li{
	list-style: none;
}

ul.end li a{
	text-decoration: none;
	list-style: none;
}

ul.end li a:visited {
    color: #242424;
	list-style: none;
}

footer {

    border-top: 1px solid #242424;
    font-size: .8em;
}