<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">



</head>

<body>
    <div class="container">
        {{content}}
    </div>

    <footer>
        <ul class="end">
            <li><a href="/index.html">home</a> </li>
            <li><a href="mailto:joesujin@nid.edu">email</a></li>
            <li><a href="https://github.com/Joesujin">github.com/Joesujin</a></li>
        </ul>
    </footer>
</body>

</html>